html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: radial-gradient(#9e6d39, #663500);
    /* background-image: url('../images/background-images/wooden-texture.jpg'); */
}
