html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    /* background-color: pink; */
    /* background-image: url('../images/background-images/chest.jpg'); */
    background-size: cover;
}
