.container {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    align-content: center;
}

.container__results {
    padding: 1rem 0;
    width: 49%;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
}

.container__map {
    padding: 1rem 0;
    width: 49%;
}

.loader {
    margin-left: 45%;
}
