.body {
    min-height: 100vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 1rem;
    padding-bottom: 15%;
    background: radial-gradient(#f6b26a, #6e3c07);
}

/* h3 container */
.storage {
    font-family: "Rokkitt", serif;
    font-size: 300%;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.search__form__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    min-width: 30%;
}

.location__and__date {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    font-size: 150%;
    color: white;
}

.buttons {
    display: flex;
    min-width: 70%;
    justify-content: space-between;
}