@import url("https://fonts.googleapis.com/css2?family=Rokkitt:wght@500&display=swap");

.body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    min-width: 100%;
    background: radial-gradient(#f6b26a, #6e3c07);
}

.header {
    font-family: "Rokkitt", serif;
    color: rgb(255, 221, 227);
    width: 50%;
    text-shadow: 2px 2px 2px #000000;
    text-align: center;
    font-size: 300%;
}

.searchbar {
    height: 40px;
    width: 20%;
    text-align: center;
    border-radius: 20px;
    font-size: 125%;
}

.learnMore {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% 35%;
    padding: 0.5% 4%;
    border-radius: 20px;
}

.search__container {
    margin-top: 20%;
}

@media (max-width: 768px) {
    .header {
        color: white;
        width: 70%;
    }

    .searchbar {
        width: 35%;
    }

    .learnMore {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 4% 30%;
        padding: 1% 7%;
    }
}
