.body {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    min-width: 100%;
    background-image: url('../images/background-images/atticBlurred.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    padding-bottom: 5%;
}

.ourProcess {
    font-size: 400%;
    color: white;
    text-shadow: 2px 2px 2px #000000;
}

.containers {
    display: flex;
    flex-direction: column;
    row-gap: 5em;
    font-size: 150%;
    text-shadow: 2px 2px 2px #000000;
}

.container1 {
    color: white;
    text-align: center;
}

.container2 {
    color: white;
    text-align: center;
}

.container3 {
    color: white;
    text-align: center;
}

img {
    max-width: 80vw;
    border-radius: 20px;
}
