.container {
    height: 70vh;
}
.container span {
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    display: inline-block;
    color: black;
    background-color: greenyellow;
    font-weight: bold;
    text-align: center;
    border-color: blue;
    border-style: solid;
    margin: auto;
    padding: 8.33px;
    font-size: 20px;
    opacity: 0.55;
}

.cluster span {
    height: 5vh;
    width: 5vh;
    display: inline;
    border: none;
    background-color: transparent;
    color: black;
    opacity: 1;
    margin: 0px;
    padding: 0px;
}

