.body {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    min-width: 100%;
    /* background: radial-gradient(#464646, #000000); */
    background-image: url('../images/background-images/blackSheetMetal.jpg');
    background-attachment: fixed;
    padding-bottom: 5%;
}

.WhyUs {
    font-size: 400%;
    color: white;
    text-shadow: 2px 2px 2px #000000;
}

.containers {
    display: flex;
    flex-direction: column;
    max-width: 70vw;
    row-gap: 7em;
    text-align: center;
}

.container1 {
    min-height: 40vh;
    min-width: 60vw;
    background: rgb(166 166 166);
    color: white;
    opacity: .94;
    border-radius: 20px;
    text-shadow: 2px 2px 2px #000000;
}

.container2 {
    min-height: 40vh;
    min-width: 60vw;
    background: rgb(166 166 166);
    color: white;
    opacity: .94;
    border-radius: 20px;
    text-shadow: 2px 2px 2px #000000;
}

.container3 {
    min-height: 40vh;
    min-width: 60vw;
    background: rgb(166 166 166);
    color: white;
    opacity: .94;
    border-radius: 20px;
    text-shadow: 2px 2px 2px #000000;
}

.containers p {
    margin: 3em 2em;
}

.headers {
    display: flex;
    justify-content: center;
    font-size: 300%;
}

.paragraph {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
}