.navigation {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.left__container {
    display: flex;
}

.bg__icon {
    padding-top: 0.5rem;
}

.right__container {
    display: flex;
    gap: 3rem;
}

.logo {
    height: 40px;
}
.account {
    cursor: pointer;
}
