.navigation {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: rgb(238, 238, 238);
    /* position: fixed; */
    width: 100%;
    z-index: 1;
}

.left__container {
    display: flex;
}

.bg__icon {
    padding-top: 0.5rem;
}

.right__container {
    display: flex;
    gap: 3rem;
}

.logo {
    height: 45px;
}
.account {
    cursor: pointer;
}
