.body {
    background-color: black;
}

.containers {
    display: flex;
    flex-wrap: wrap;
    height: 85vh;
}

.containers div {
    width: 50%;
    padding: 3% 4%;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 300%;
    height: 15vh;
    color: white;
}

h2 {
    color: white;
}

.containers p {
    font-size: 150%;
    color: #c2a383;
}