@import url("https://fonts.googleapis.com/css2?family=Rokkitt:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Asap+Condensed&family=Rokkitt:wght@500&display=swap");

.body {
    background-color: black;
}

.containers {
    display: flex;
    flex-wrap: wrap;
    height: 85vh;
}

.containers div {
    width: 50%;
    padding: 0% 4%;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Rokkitt", sans-serif;
    font-size: 550%;
    height: 15vh;
    color: white;
}

.faq1, .faq2, .faq3, .faq4 {
    font-family: "Asap Condensed", sans-serif;
    font-size: 200%;
    color: white;
}

.containers p {
    font-family: "Asap Condensed", sans-serif;
    color: #c2a383;
}